<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MAXCONNECTIONCOUNT" value="3"/>
    <add key="PORT" value="8181"/>
    <add key="WEBSOCKETORIGIN" value="http://localhost:49161"/>
    <add key="WEBSOCKETLOCATION" value="ws://localhost:8181/demo"/>
    <add key="LOGTOMONITOR" value="Application"/>
  </appSettings>
</configuration>